In [1]:
import pandas as pd
from pathlib import Path

# 1.Parking Original Database from GIS -> Hebrew
input_path = r"C:\Users\aviyaoh\Downloads\csv_and_merge_files\Parking spots\export.layer.20251113_164721.xlsx"  

df = pd.read_excel(input_path)

In [2]:

# 3. Translate Columns Titles to English
col_map = {
    "בחירה": "Selection",
    "מספר רץ": "Running_Number",
    "מזהה ממג": "Mamag_ID",
    "כתובת": "Street_Heb",        # <-- שם רחוב בעברית
    "מיקום": "Location_Type",
    "גודל תא": "Cell_Size",
    "מזהה מערכת": "System_ID",
    "תאריך טעינה": "Load_Date",
    "מרכז X": "center_X",
    "מרכז Y": "center_Y",
    "מרכז Lon": "X",
    "מרכז Lat": "Y",
}

df = df.rename(columns=col_map) # Order to change columns name to...

In [3]:
# 4. Translate Parking Main Street to English 
hebrew_to_english_street = {
    "ארניה אוסוולדו 27": "Osvaldo Arania 27",
    "הארבעה 28": "HaArbaa 28",
    ## ADD MORE PARKING SPOTS TRANSLATION
}

# 5. Create new column with the English Address 
df["Street_Eng"] = df["Street_Heb"].map(hebrew_to_english_street).fillna(df["Street_Heb"])

In [4]:
# 6. Re-Order Columns
col_new_order = [
    'X', 
    'Y',
    'Street_Eng',
    'center_X',
    'center_Y',
    'Selection',
    'Running_Number', 
    'Mamag_ID', 
    'Street_Heb',
    'Location_Type', 
    'Cell_Size', 
    'System_ID', 
    'Load_Date']

df = df[col_new_order]

In [5]:
#7. Change 'Street_eng' -> 'Address'
df = df.rename(columns={'Street_Eng': 'Address'})

In [6]:
# 8. save new data frame as English GIS initial parking spots
output_path = Path(input_path).with_name("English GIS initial parking spots.csv")
df.to_csv(output_path, index=False, encoding="utf-8-sig")

In [7]:
df.head(5)

,X,Y,Address,center_X,center_Y,Selection,Running_Number,Mamag_ID,Street_Heb,Location_Type,Cell_Size,System_ID,Load_Date
0,34.786198,32.070174,Osvaldo Arania 27,179965.03,664176.70,NaN,1,207,ארניה אוסוולדו 27,מדרכה,1.5-2.5,860-207,13/11/2025 01:28:01
1,34.786199,32.070197,HaArbaa 28,179965.11,664179.29,NaN,2,219,הארבעה 28,מדרכה,1.5x2.5,860-219,13/11/2025 01:28:01
2,34.786200,32.070224,HaArbaa 28,179965.29,664182.24,NaN,3,458,הארבעה 28,מדרכה,3_2,860-458,13/11/2025 01:28:01

In [8]:
print("File saved in: ", output_path)

File saved in:  C:\Users\aviyaoh\Downloads\csv_and_merge_files\Parking spots\English GIS initial parking spots.csv