## Merge - Join all the clean data sets

In [1]:
import pandas as pd
import os

# 1. Paste your folder path here (e.g., 'C:/Users/Name/Documents/ParkingData')
# Use forward slashes / or a raw string r'C:\Path' to avoid errors
folder_path = r'C:\Users\aviyaoh\Downloads\Aviya Ohayon\Clean Data\Assign to Parking Lots Data'

# 2. List the filenames in the order you want them merged
file_names = [
    '2023-02_Assign to parkinglot_Final_Status.csv',
    '2024-02_Assign to parkinglot_Final_Status.csv',
    '2025-02_Assign to parkinglot_Final_Status.csv'
]

dataframes = []

for file in file_names:
    # This automatically creates the full path (Folder + Filename)
    full_path = os.path.join(folder_path, file)
    
    print(f"Loading: {full_path}")
    df = pd.read_csv(full_path)
    dataframes.append(df)

# 3. Merge everything
merged_df = pd.concat(dataframes, ignore_index=True)

# 4. Save the result back into the same folder
output_path = os.path.join(folder_path, 'merged_parking_data_2023_2025.csv')
merged_df.to_csv(output_path, index=False)

print(f"Done! Merged file saved at: {output_path}")

Loading: C:\Users\aviyaoh\Downloads\Aviya Ohayon\Clean Data\Assign to Parking Lots Data\2023-02_Assign to parkinglot_Final_Status.csv
Loading: C:\Users\aviyaoh\Downloads\Aviya Ohayon\Clean Data\Assign to Parking Lots Data\2024-02_Assign to parkinglot_Final_Status.csv
Loading: C:\Users\aviyaoh\Downloads\Aviya Ohayon\Clean Data\Assign to Parking Lots Data\2025-02_Assign to parkinglot_Final_Status.csv
Done! Merged file saved at: C:\Users\aviyaoh\Downloads\Aviya Ohayon\Clean Data\Assign to Parking Lots Data\merged_parking_data_2023_2025.csv

In [4]:
# --- Continuation Code: Visual Table Format ---

# 1. Create the Summary DataFrame
summary_list = []
for i, file in enumerate(file_names):
    year_label = file.split('-')[0]
    summary_list.append({
        'Year': year_label, 
        'Total Records': f"{len(dataframes[i]):,}",
        'Status': 'Loaded'
    })

# Create the summary table
summary_df = pd.DataFrame(summary_list)

# 2. Display the Summary Table
# Note: In Jupyter/VS Code, just typing the variable name displays it as a formatted table
print("Summary Table:")
display(summary_df) 

# 3. Display Previews for each year exactly like your image
for i, file in enumerate(file_names):
    year_label = file.split('-')[0]
    print(f"\nVisual Preview for Year: {year_label}")
    
    # Using display() ensures it renders as a beautiful HTML table like in your screenshot
    display(dataframes[i].head(5))

Summary Table:

   Year Total Records  Status
0  2023         9,414  Loaded
1  2024         6,334  Loaded
2  2025         7,081  Loaded

Visual Preview for Year: 2023

,provider_name,vehicle_id,vehicle_state,event_types,start_time,next_event_types,end_time,source,lat,lon,parking_spot,duration
0,Dott,014N3D,available,trip_end,2023-02-06 09:49:52,maintenance_pick_up,2023-02-07 06:52:29,trips,32.070330,34.786232,Spot 1,75757.0
1,Dott,02X16Y,available,trip_end,2023-02-05 18:16:42,trip_start,2023-02-05 18:24:34,trips,32.070096,34.786201,Spot 1,472.0
2,Dott,02X16Y,on_trip,trip_start,2023-02-05 18:24:34,trip_start,2023-02-07 15:11:56,trips,32.069868,34.786461,Spot 1,161242.0
3,Dott,0JS9B9,available,trip_end,2023-02-08 10:51:20,trip_start,2023-02-08 17:46:06,trips,32.069880,34.786123,Spot 1,24886.0
4,Dott,0JS9B9,on_trip,trip_start,2023-02-08 17:46:06,trip_end,2023-02-08 17:55:09,trips,32.070116,34.786132,Spot 1,543.0

Visual Preview for Year: 2024

,provider_name,vehicle_id,vehicle_state,event_types,start_time,next_event_types,end_time,source,lat,lon,parking_spot,duration
0,Dott,02P4MS,available,trip_end,2024-02-02 03:11:33,trip_start,2024-02-02 03:34:13,status_changes,32.070094,34.785818,Spot 1,1360.0
1,Dott,02P4MS,on_trip,trip_start,2024-02-02 03:34:13,trip_end,2024-02-02 03:45:42,status_changes,32.070094,34.785818,Spot 1,689.0
2,Dott,02X16Y,available,trip_end,2024-02-13 15:15:38,battery_low,2024-02-13 15:26:27,status_changes,32.070372,34.786336,Spot 1,649.0
3,Dott,02X16Y,non_operational,battery_low,2024-02-13 15:26:27,battery_charged,2024-02-13 15:26:47,status_changes,32.070372,34.786336,Spot 1,20.0
4,Dott,02X16Y,available,battery_charged,2024-02-13 15:26:47,trip_start,2024-02-13 19:53:39,status_changes,32.070372,34.786336,Spot 1,16012.0

Visual Preview for Year: 2025

,provider_name,vehicle_id,vehicle_state,event_types,start_time,next_event_types,end_time,source,lat,lon,parking_spot,duration
0,Bird,12ZCW,available,trip_end,2025-02-03 11:36:56,trip_start,2025-02-03 14:13:56,status_changes,32.070173,34.786258,Spot 1,9420.0
1,Bird,12ZCW,on_trip,trip_start,2025-02-03 14:13:56,trip_end,2025-02-03 14:16:40,status_changes,32.070173,34.786258,Spot 1,164.0
2,Bird,13KTP,available,trip_end,2025-02-09 11:33:08,trip_start,2025-02-09 12:20:25,status_changes,32.070371,34.785925,Spot 1,2837.0
3,Bird,13KTP,on_trip,trip_start,2025-02-09 12:20:25,trip_end,2025-02-09 12:25:22,status_changes,32.070338,34.785953,Spot 1,297.0
4,Bird,14Q82,available,trip_end,2025-02-17 09:25:15,trip_start,2025-02-17 17:14:25,status_changes,32.070195,34.786153,Spot 1,28150.0